# requirements.txt for yomitoku OCR project
# 使用 Python 3.10+，推荐在 Anaconda 虚拟环境中运行
# 若使用 GPU 可将 onnxruntime 替换为 onnxruntime-gpu（需 CUDA 环境）
yomitoku
onnxruntime==1.17.1
numpy==1.26.4
opencv-python
Pillow

# Django + API
django>=4.2
djangorestframework>=3.14


# 文件管理可选（图片存储相关）
python-magic  # 识别上传文件类型

